{% if progress < 50 %}
<div class="progress progress-xs">
<div class="progress-bar bg-primary" style="width: {{ progress }}%"></div>
</div>
{% elif progress > 70 %}
<div class="progress progress-xs">
<div class="progress-bar bg-danger" style="width: {{ progress }}%"></div>
</div>
{% else %}
<div class="progress progress-xs">
<div class="progress-bar bg-warning" style="width: {{ progress }}%"></div>
</div>
{% endif %}
