{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tz %}

{% block scripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script>

        function copyRecordingsLinkToClipboard(recording_download_redirect) {
            copyToClipboard(new URL(recording_download_redirect, '{{ base_url }}').toString()).then(function () {
                toastr.success('The content has successfully been copied to the clipboard.'); // TODO translation
            }, function () {
                toastr.error('Your Browser does not support copying to the clipboard.'); // TODO translation
            });
        }

        function sendRecordingLinkViaEmail(roomName, recording_download_redirect) {
            const recordingLink = new URL(recording_download_redirect, '{{ base_url }}').toString();
            const subject = "{% trans "Recording for" %} " + roomName;
            const body = "Hi eLearning Friend,\r\n\r\nhere is my recording held in " + roomName + "." +
                " Please open " + recordingLink + " with your Browser."; // TODO translation
            const mailto = new URL('mailto:');

            mailto.search = 'subject=' + encodeURIComponent(subject) + '&body=' + encodeURIComponent(body);
            const mailtoTap = window.open(mailto.toString(), '_blank');
            if (mailtoTap) {
                mailtoTap.close();
            }
        }
    </script>
{% endblock %}


{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">{% trans "Recordings overview" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    {% if request.user.is_staff %}
                                        <th scope="col" >{% trans "Creator" %}</th>
                                    {% endif %}
                                    <th scope="col" >{% trans "Room name" %}</th>
                                    <th scope="col" >{% trans "Date" %}</th>
                                    <th scope="col" >{% trans "Actions" %}</th>
                                    <th scope="col" >{% trans "URL" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in recordings %}
                                    <tr>
                                        {% if request.user.is_staff %}
                                            <td>{{ record.creator }}</td>
                                        {% endif %}
                                        <td>{{ record.room_name }}</td>
                                        <td>{{ record.started|timezone:"Europe/Berlin"|date:"d.m.Y - G:i" }}</td>
                                        <td>
                                            <span style="white-space: nowrap;">
                                            <a class="far fa-sm fa-download" style="cursor: pointer;" title="Download MP4"
                                                href="{% url 'recording_download_redirect' record.replay_id %}" download></a>
                                            </span>
                                            <span style="white-space: nowrap;">
                                        </td>
                                        <td>
                                            <em class="far fa-sm fa-copy" style="cursor: pointer;" title="Copy Playback-Link"
                                            onclick="copyRecordingsLinkToClipboard('{% url 'recording_redirect' record.replay_id %}')"></em>
                                            <em class="far fa-sm fa-envelope" style="cursor: pointer;" title="Send Playback-Link"
                                            onclick="sendRecordingLinkViaEmail('{{ record.room_name }}', '{% url 'recording_redirect' record.replay_id %}')"></em>
                                            {{ base_url }}{% url 'recording_redirect' record.replay_id %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
